.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c857;
}
.fire {
    background-color: #ee7f38;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2c;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ffa;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3820;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725b47;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6c5b96;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9acc7;
}

.pokemon {
    margin: 0.5rem;
    border-radius: 1rem; 
}

.pokemon a {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-decoration: none;
}

.number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.name {
    text-transform: capitalize;
    color: white;
    margin-bottom: 0;
}

.type {
    list-style: none;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMoreButton {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}